.direction{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 10%;
     /* padding: 60px; */
     height: 430px;
      
  }
  .btn{
    height: 40px;
    width: 100px;
   }
  /* #inc{
    height: 100%;

  }
  */
  .cd{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    left: 13px;
  }
  .ct{
   }