.sign{
     
}
.btn{
   
 margin-right: 75%;
     
 }
.cd{
    display: block ;
    width: 800px;
    margin-left: 25%;
    margin-top: 10%;
}
.frm{
    text-align: center;
}
.email{
    width: 50%;
  }
  .cn{
    
  }